.slider {
    height: 40vw;
    max-height: 450px;
}
.slider img {
    object-position: top center;
}

.text {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 200px;
    color: #fff;
}
