.item {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 20px 10px;
  border: 1px solid #aaa;
}
.item > * {
  margin-right: 10px;
}

.amount {
  margin: 0 5px;
  display: inline-block;
  max-width: 50px;
  text-align: center;
}

.btnAmount {
  width: 40px;
  height: 40px;
}

.title {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
